

<div class="blog-post">
  <h2 class="blog-post-title"><%= blog.title %></h2>
  <small><%= link_to blog.status, toggle_status_blog_path(blog) if logged_in?(:site_admin) %></small>
  <p class="blog-post-meta">published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago <a href="#">Mark</a></p>
  <p><%= blog.body %></p>
  <%= link_to 'Show', blog, class:'btn btn-outline-primary' %>
  <%= link_to 'Edit', edit_blog_path(blog), class:'btn btn-outline-warning' if logged_in?(:site_admin) %>
  <%= link_to 'Destroy', blog, class:'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
</div><!-- /.blog-post -->