<h2><%= @blog.title %></h2>
</p>



<p>
  <%= @blog.body %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog), class:'btn btn-outline-info btn-sm' if logged_in?(:site_admin) %>
<%= link_to 'Delete', blogs_path(@blog), class:'btn btn-outline-danger btn-sm' if logged_in?(:site_admin) %> 

<br >
<hr >

<%= render 'comments/comment_form' %>


<div id="comments" data-blog-id="<% @blog.id %>">
  <%= render @blog.comments %>
</div>
