<div class="login">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Change your password</h3>
  

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      
        <div class="input-group margin-bottom-lg">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <%= f.password_field :password, autofocus: true, class:"form-control", autocomplete: "off", placeholder:"new password" %>
        </div>
        
        <div class="input-group margin-bottom-lg">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off", placeholder:"confirm password" %>
        </div>

        <div class="actions">
          <%= f.submit "Change my password", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>


      <div class="auth-links">
       <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>  
</div>