<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords", content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/blog_nav' %>
    
    
    <%= render 'shared/blog_masthead' %>
    
    <div class="container">
      <div class="row">
        

        <div class="col-sm-8 blog-main">
        
          <%= yield %>
        
        </div><!-- /.blog-main -->
        
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          
          <%= render 'shared/blog_sidebar' %>
          
        </div><!-- /.blog-sidebar -->
        
        <%= source_helper %>
      </div>
    </div>
    
    <%= render 'shared/blog_footer' %>
  </body>
</html>







        




